<div class="container my-2">
  <div class="card mb-3 p-2">
    <img
      src="<%=complaint.media%>"
      class="card-img-top"
      style="max-height: 300px; object-fit: contain"
      alt="..."
    />
    <hr />
    <div class="card-body">
      <h1 class="card-title"><%=complaint.title%></h1>

      <p class="card-text fs-4">
        <u>Complaint Description</u> : <%=complaint.description%>
      </p>

      <!-- status -->
      <%if(complaint.status){%> <%if(complaint.status == 'Pending'){%>
      <p class="card-text text-danger fs-5">Status: Pending</p>
      <%}else if(complaint.status == 'Resolved'){%>
      <p class="card-text text-success fs-5">Status: In Progress</p>
      <%}%> <%}%>

      <!-- address -->
      <%if(complaint.address){%>
      <p class="card-text fs-5">Address: <%=complaint.address%></p>
      <%}%>
      <!-- city -->
      <%if(complaint.city){%>
      <p class="card-text fs-5">City: <%=complaint.city%></p>
      <%}%>
      <!-- pincode -->
      <%if(complaint.pincode){%>
      <p class="card-text fs-5">Pincode: <%=complaint.pincode%></p>
      <%}%>
      <!-- ward -->
      <%if(complaint.ward){%>
      <p class="card-text fs-5">Ward: <%=complaint.ward%></p>
      <%}%>
      <!-- zone -->
      <%if(complaint.zone){%>
      <p class="card-text fs-5">Zone: <%=complaint.zone%></p>
      <%}%>
      <!-- district -->
      <%if(complaint.district){%>
      <p class="card-text fs-5">District: <%=complaint.district%></p>
      <%}%>
      <!-- state -->
      <%if(complaint.state){%>
      <p class="card-text fs-5">State: <%=complaint.state%></p>
      <%}%>
    </div>
  </div>
</div>
